.header {
  padding-top: 33px;
  padding-bottom: 32px;
  background-color: #daac00;
}

.header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-container .logo {
  width: 200px;
}

.header .header-container .logo .logo-image {
  width: 100%;
}

.header .header-container .navbar .navbar-list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.header .header-container .navbar .navbar-list .list-item {
  margin-left: 20px;
  margin-right: 20px;
}

.header .header-container .navbar .navbar-list .list-item .item-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: medium;
  font-size: 30px;
}

.header .header-container .search-block {
  width: 274px;
  height: 51px;
  position: relative;
  -webkit-box-shadow: 4px 4px 14px rgba(59, 59, 59, 0.329);
          box-shadow: 4px 4px 14px rgba(59, 59, 59, 0.329);
}

.header .header-container .search-block .search-field {
  width: 274px;
  height: 100%;
  border: none;
  padding-left: 20px;
  padding-right: 85px;
  color: #ffffff;
  font-size: 20px;
  background-color: #fcc302;
}

.header .header-container .search-block .search-field::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 20px;
}

.header .header-container .search-block .search-field:-ms-input-placeholder {
  color: #ffffff;
  font-size: 20px;
}

.header .header-container .search-block .search-field::-ms-input-placeholder {
  color: #ffffff;
  font-size: 20px;
}

.header .header-container .search-block .search-field::placeholder {
  color: #ffffff;
  font-size: 20px;
}

.header .header-container .search-block .search-button {
  background-color: #00bec9;
  height: 51px;
  width: 71px;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  cursor: pointer;
}

.main {
  padding-top: 88px;
  padding-bottom: 87px;
  background-color: #fcc302;
  color: #ffffff;
}

.main .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .main-container .main-text-block .main-title {
  font-size: 66px;
  margin-bottom: 51px;
}

.main .main-container .main-text-block .main-description {
  font-size: 30px;
  margin-bottom: 51px;
}

.main .main-container .main-text-block .main-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .main-container .main-text-block .main-buttons .main-button-primary {
  padding: 23px 29px;
  background-color: #00bec9;
  border: 3px solid #00bec9;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  border-radius: 7px;
  margin-right: 35px;
  cursor: pointer;
}

.main .main-container .main-text-block .main-buttons .main-button-secondary {
  padding: 23px 29px;
  background-color: transparent;
  border: 3px solid #ffffff;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  border-radius: 7px;
  cursor: pointer;
}

.main .main-container .main-image-block {
  height: 604px;
}

.main .main-container .main-image-block .main-image {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  height: 100%;
  -webkit-filter: drop-shadow(4px 4px 14px rgba(59, 59, 59, 0.329));
  filter: drop-shadow(4px 4px 14px rgba(59, 59, 59, 0.582));
}

.first-video {
  padding-top: 140px;
  padding-bottom: 170px;
  color: #313243;
}

.first-video .first-video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.first-video .first-video-container .first-video-text-block .first-video-title {
  margin-bottom: 50px;
  font-size: 50px;
  font-weight: 600;
}

.first-video .first-video-container .first-video-text-block .first-video-description {
  margin-bottom: 51px;
  font-size: 30px;
}

.first-video .first-video-container .first-video-text-block .first-video-button {
  padding: 23px 29px;
  background-color: #fcc302;
  border: 3px solid #fcc302;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  border-radius: 7px;
  margin-right: 35px;
  cursor: pointer;
}

.first-video .first-video-container .first-video-video-block {
  width: 506px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-video .first-video-container .first-video-video-block::before {
  content: "";
  width: 252px;
  height: 206px;
  background-color: #fcc302;
  position: absolute;
  bottom: -33px;
  left: -39px;
  z-index: -10;
}

.first-video .first-video-container .first-video-video-block::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(252, 194, 2, 0.349);
}

.first-video .first-video-container .first-video-video-block .first-video-play {
  position: absolute;
  z-index: 10;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  cursor: pointer;
}

.first-card {
  padding-top: 110px;
  padding-bottom: 100px;
  background-color: #fcc302;
  color: #ffffff;
  text-align: center;
}

.first-card .first-card-container .first-card-title {
  font-size: 75px;
  font-weight: bold;
  margin-bottom: 50px;
}

.first-card .first-card-container .first-card-description {
  font-size: 35px;
  margin-bottom: 100px;
}

.first-card .first-card-container .first-card-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-card .first-card-container .first-card-block .card-item .card-image {
  border: 6px solid #ffffff;
  margin-bottom: 50px;
}

.first-card .first-card-container .first-card-block .card-item .card-title {
  font-weight: 600;
  font-size: 37px;
  margin-bottom: 25px;
}

.first-card .first-card-container .first-card-block .card-item .card-text {
  font-size: 25px;
}

.second-video {
  padding-top: 140px;
  padding-bottom: 170px;
  color: #313243;
}

.second-video .second-video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.second-video .second-video-container .second-video-text-block .second-video-title {
  text-align: right;
  margin-bottom: 50px;
  font-size: 50px;
  font-weight: 600;
}

.second-video .second-video-container .second-video-text-block .second-video-description {
  text-align: right;
  margin-bottom: 51px;
  font-size: 30px;
}

.second-video .second-video-container .second-video-text-block .second-video-button {
  padding: 23px 29px;
  background-color: #fcc302;
  border: 3px solid #fcc302;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  border-radius: 7px;
  margin-right: 35px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.second-video .second-video-container .second-video-video-block {
  width: 506px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 65px;
}

.second-video .second-video-container .second-video-video-block::before {
  content: "";
  width: 252px;
  height: 206px;
  background-color: #fcc302;
  position: absolute;
  bottom: -33px;
  right: -39px;
  z-index: -10;
}

.second-video .second-video-container .second-video-video-block::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(252, 194, 2, 0.349);
}

.second-video .second-video-container .second-video-video-block .second-video-play {
  position: absolute;
  z-index: 10;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 1160px;
  margin: auto;
}
