@import "_variables";
@import "blocks/_header";
@import "blocks/_main";
@import "blocks/_first-video";
@import "blocks/_first-card";
@import "blocks/_second-video";
@import "blocks/_second-card";
@import "blocks/_team";
@import "blocks/_stats";
@import "blocks/_post";
@import "blocks/_footer";

* 
    box-sizing: border-box

body 
    font-family: 'Poppins', sans-serif
    margin: 0
    padding: 0

.container
    max-width: 1160px
    margin: 0 auto
    @media screen and ( max-width: 1199px )
        max-width: 1100px