.first-card
    padding-top: 110px
    padding-bottom: 100px
    background-color: $mainOrange
    color: $secondaryColorText
    text-align: center
    .first-card-container
        .first-card-title
            font-size: 75px
            font-weight: bold
            margin-bottom: 50px
        .first-card-description
            font-size: 35px
            margin-bottom: 100px
        .first-card-block
            display: flex
            justify-content: space-between
            align-items: center
            .card-item
                .card-image
                    border: 6px solid $secondaryColorText
                    margin-bottom: 50px
                .card-title
                    font-weight: 600
                    font-size: 37px
                    margin-bottom: 25px
                .card-text
                    font-size: 25px