.first-video
    padding-top: 140px
    padding-bottom: 170px
    color: $mainColorText
    .first-video-container
        display: flex
        align-items: center
        justify-content: space-between
        .first-video-text-block
            .first-video-title
                margin-bottom: 50px
                font-size: 50px
                font-weight: 600
                @media screen and ( max-width: 1199px )
                    max-width: 570px
                    font-size: 45px
            .first-video-description
                margin-bottom: 51px
                font-size: 30px
                @media screen and ( max-width: 1199px )
                    max-width: 570px
                    font-size: 27px
            .first-video-button
                padding: 23px 29px
                background-color: $mainOrange
                border: 3px solid $mainOrange
                color: $secondaryColorText
                font-size: 20px
                text-align: center
                border-radius: 7px
                margin-right: 35px
                cursor: pointer
        .first-video-video-block
            max-width: 506px
            position: relative
            display: flex
            justify-content: center
            align-items: center
            @media screen and ( max-width: 1199px )
                max-width: 490px
            &::before
                content: ""
                width: 252px
                height: 206px
                background-color: $mainOrange
                position: absolute
                bottom: -33px
                left: -39px
                z-index: -10
            &::after
                content: ""
                width: 100%
                height: 100%
                position: absolute
                left: 0
                top: 0
                background-color: rgba(252, 194, 2, 0.349)
            .first-video-poster
                @media screen and ( max-width: 1199px )
                    width: 100%
            .first-video-play
                position: absolute
                z-index: 10
                transform-origin: 50%
                cursor: pointer