.post
    padding-top: 140px
    padding-bottom: 140px
    color: $mainColorText
    .post-container
        .post-title
            font-size: 75px
            font-weight: bold
            text-align: center
            margin-bottom: 50px
        .post-description
            font-size: 33px
            text-align: center
            margin-bottom: 100px
        .post-block
            display: flex
            align-items: center
            justify-content: space-between
            .post-item
                width: 360px
                box-shadow: 0 10px 10px rgba(0, 0, 0, 0.315)
                .item-image
                    margin-bottom: 32px
                .item-text-block
                    padding-left: 30px
                    padding-right: 30px
                    padding-bottom: 30px
                    .item-title
                        font-size: 25px
                        font-weight: 600
                        margin-bottom: 20px
                    .item-date
                        font-size: 16px
                        color: $mainColorButton
                        margin-bottom: 29px
                        display: inline-block
                    .item-description
                        font-size: 16px
                        margin-bottom: 30px
                    .item-read
                        font-size: 20px
                        font-weight: 700
                        text-decoration: none
                        color: $mainColorButton
                        cursor: pointer