.stats
    background-color: $mainOrange
    .stats-bg
        padding: 165px 0 160px 0
        width: 1310px
        margin: auto
        background-image: url("../img/stats-bg.jpg")
        background-repeat: no-repeat
        background-size: cover
        position: relative
        .stats-bg-color
            width: 100%
            height: 100%
            background-color: #fcc202da
            position: absolute
            top: 0
            left: 0
            z-index: 5
        .stats-container
            display: flex
            align-items: center
            justify-content: space-between
            position: relative
            z-index: 6
            .stats-item
                display: flex
                align-items: center
                flex-direction: column
                color: $secondaryColorText
                .stats-image
                    margin-bottom: 60px
                .stats-count
                    font-size: 42px
                    font-weight: 500
                    margin-bottom: 30px
                .stats-description
                        font-weight: bold
                        font-size: 37px